
//
// VARIABLES
//

// Colors
$blue: hsl(209, 59%, 49%);
$blueGray: hsl(209, 39%, 29%);

// Grays
$black: #000;
$darkerGray: #201e1b;
$darkGray: #5d5d5d;
$dimGray: #696969;
$ivory: #FFFFF0;
$gray: #656565;
$lightGray: #f1f1f1;
$white: #fff;
$lightCyan: #E0FFFF;
$lightSGray: #E0FFFF;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$fancy: 'Nothing You Could Do', cursive;
$content-font: 'Poiret One ', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (orientation: portrait) {
    @content;
  }
}
